.formulario{
padding-left: 30px;
padding-top: 50px;



}

.rotulo{
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
   
  
    

}

.campo-numero{
    margin-bottom: 30px;
    border: 0;
    border-bottom: 3PX solid black;
    width: 150px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    padding-bottom: 5px;

}

input:focus{
    outline: none;
}

.botao{
    border:0;
    pad: 10px;
    background-color: rgb(172, 38, 38);
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 150;
    border-radius: 50px;
}

body{
    background-color: rgb(165, 159, 159);
}